.card-search-list-header {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    margin-bottom: 5px;
    pointer-events: none;
  }
  
  .card-search-list-body {
    z-index: 1009;
  }
  